In [4]:
import pandas as pd
olympics = pd.read_csv("olympics_cleaned.csv")
d = {}
for city in olympics['City'].unique():
    for year in olympics['Year'].unique():
        if len(olympics[(olympics['City'] == city) & (olympics['Year']== year)]) > 0:
            d[city] = d.get(city,0)+1
        
for i, j in d.items():
    print(i,j)

Barcelona 1
London 3
Antwerpen 1
Paris 2
Calgary 1
Albertville 1
Lillehammer 1
Los Angeles 2
Salt Lake City 1
Helsinki 1
Lake Placid 2
Sydney 1
Atlanta 1
Stockholm 2
Sochi 1
Nagano 1
Torino 1
Beijing 1
Rio de Janeiro 1
Athina 3
Squaw Valley 1
Innsbruck 2
Sarajevo 1
Mexico City 1
Munich 1
Seoul 1
Berlin 1
Oslo 1
Cortina d'Ampezzo 1
Melbourne 1
Roma 1
Amsterdam 1
Montreal 1
Moskva 1
Tokyo 1
Vancouver 1
Grenoble 1
Sapporo 1
Chamonix 1
St. Louis 1
Sankt Moritz 2
Garmisch-Partenkirchen 1

In [14]:
df = pd.DataFrame(list(d.items()), columns = ['City','No. of times hosted']).sort_values(by = 'No. of times hosted', ascending = False)
df.head(10)

            City  No. of times hosted
1         London                    3
19        Athina                    3
21     Innsbruck                    2
40  Sankt Moritz                    2
3          Paris                    2
7    Los Angeles                    2
10   Lake Placid                    2
13     Stockholm                    2
31     Amsterdam                    1
26        Berlin                    1

In [15]:
countries_cities_map = {"USA": ["Lake Placid", "Los Angeles"], "UK": ["London"], "Greece": ["Athina"], "Austria": ["Innsbruck"], "Switzerland": ["Sankt Moritz"], "France": ["Paris"], "Sweden":["Stockholm"]}

countries = ["USA", "UK", "Greece", "Austria", "Switzerland", "France", "Sweden"]
no_of_times = [4, 3, 3, 2, 2, 2, 2]

countries_hosted = pd.DataFrame(data = zip(countries,no_of_times), columns = ['Country','Hosted']).sort_values(by='Hosted', ascending = False)

countries_hosted

       Country  Hosted
0          USA       4
1           UK       3
2       Greece       3
3      Austria       2
4  Switzerland       2
5       France       2
6       Sweden       2

In [34]:
import pandas as pd
olympics = pd.read_csv("olympics_cleaned.csv")
olympics.head()

a = olympics[olympics['Medal']!= "DNW"]

In [40]:
hosted_city = a[a['City'].isin(["Los Angeles", "Lake Placid"])]
hosted_usa = hosted_city[hosted_city['region']== "USA"]
hosted_usa.groupby("Year")["Medal"].count()

Year
1932    223
1980     30
1984    352
Name: Medal, dtype: int64

In [44]:
hosted_not_city = a[~a['City'].isin(["Los Angeles", "Lake Placid"])]
hosted_nusa = hosted_not_city[hosted_not_city['region']== "USA"]
hosted_nusa.groupby("Year")["Medal"].count().sort_values()

Year
1984      9
1994     19
1896     20
1906     24
1998     34
2006     52
1900     63
2014     64
1908     65
2002     84
2010     97
1928    102
1912    107
1936    112
1956    149
1960    152
1952    164
1948    168
1968    173
1976    175
1964    177
1924    194
1920    194
1972    195
1988    214
1992    238
2000    242
2012    248
1996    259
2004    263
2016    264
2008    317
1904    394
Name: Medal, dtype: int64

In [2]:
import pandas as pd
olympics = pd.read_csv("olympics_cleaned.csv")
a = olympics.groupby('City')['Year'].nunique()
a

City
Albertville               1
Amsterdam                 1
Antwerpen                 1
Athina                    3
Atlanta                   1
Barcelona                 1
Beijing                   1
Berlin                    1
Calgary                   1
Chamonix                  1
Cortina d'Ampezzo         1
Garmisch-Partenkirchen    1
Grenoble                  1
Helsinki                  1
Innsbruck                 2
Lake Placid               2
Lillehammer               1
London                    3
Los Angeles               2
Melbourne                 1
Mexico City               1
Montreal                  1
Moskva                    1
Munich                    1
Nagano                    1
Oslo                      1
Paris                     2
Rio de Janeiro            1
Roma                      1
Salt Lake City            1
Sankt Moritz              2
Sapporo                   1
Sarajevo                  1
Seoul                     1
Sochi                     1
Squaw Valley              1
St. Louis                 1
Stockholm                 2
Sydney                    1
Tokyo                     1
Torino                    1
Vancouver                 1
Name: Year, dtype: int64

In [21]:
import pandas as pd
olympics = pd.read_csv("olympics_cleaned.csv")
a = olympics.groupby('City')['Year'].nunique()
a.column['City','No. of times hosted']
a

AttributeError: 'Series' object has no attribute 'column'

In [1]:
df = pd.DataFrame(a, columns = ['City','No. of times hosted']).sort_values(by = 'No. of times hosted', ascending = False)
df.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
olympics = pd.read_csv("olympics_cleaned.csv")
a = olympics.groupby('City')['Year'].nunique().reset_index()

a.columns=['City','No. of times hosted']
df = a.sort_values(by = 'No. of times hosted' , ascending = False)
df.head(10)

              City  No. of times hosted
3           Athina                    3
17          London                    3
30    Sankt Moritz                    2
26           Paris                    2
37       Stockholm                    2
18     Los Angeles                    2
15     Lake Placid                    2
14       Innsbruck                    2
0      Albertville                    1
27  Rio de Janeiro                    1

In [81]:


countries_cities_map = {"USA": ["Lake Placid", "Los Angeles"], "UK": ["London"], "Greece": ["Athina"], "Austria": ["Innsbruck"], "Switzerland": ["Sankt Moritz"], "France": ["Paris"], "Sweden":["Stockholm"]}

countries = ["USA", "UK", "Greece", "Austria", "Switzerland", "France", "Sweden"]
no_of_times = [4, 3, 3, 2, 2, 2, 2]
country_hosted = pd.DataFrame(data = zip(countries,no_of_times),columns= ['countries','no_of_times']).sort_values(by = 'no_of_times',ascending = False)
country_hosted

     countries  no_of_times
0          USA            4
1           UK            3
2       Greece            3
3      Austria            2
4  Switzerland            2
5       France            2
6       Sweden            2

In [82]:
a = olympics[(olympics['region'] == 'USA') & (olympics['Medal'] != 'DNW')]
hosted_city = a[a['City'].isin(['Los Angeles','Lake Placid'])]
hosted_city.groupby('Year')['Medal'].count()

Year
1932    223
1980     30
1984    352
Name: Medal, dtype: int64

In [83]:

not_hosted_city = a[~a['City'].isin(['Los Angeles','Lake Placid'])]
not_hosted_city.groupby('Year')['Medal'].count()

Year
1896     20
1900     63
1904    394
1906     24
1908     65
1912    107
1920    194
1924    194
1928    102
1936    112
1948    168
1952    164
1956    149
1960    152
1964    177
1968    173
1972    195
1976    175
1984      9
1988    214
1992    238
1994     19
1996    259
1998     34
2000    242
2002     84
2004    263
2006     52
2008    317
2010     97
2012    248
2014     64
2016    264
Name: Medal, dtype: int64

In [86]:
from scipy.stats import ttest_ind
hosted_data = hosted_city.groupby('Year')['Medal'].count()
non_hosted_data = not_hosted_city.groupby('Year')['Medal'].count()

t_stat, p_value = ttest_ind(hosted_data, non_hosted_data)
print(p_value)

alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference.")

0.42272390900174206
Fail to reject the null hypothesis. There is no significant difference.